* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

img{
    object-fit: cover;
    width: 50%;
    height: 90%;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.products, .cart {
    width: 48%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.product {
    margin-bottom: 15px;
}

.product h3, .product p {
    margin-bottom: 5px;
}
.product.img{
    object-fit: cover;
    
}

.add-to-cart {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.remove-from-cart {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-from-cart:hover {
    background-color: #c9302c;
}

.total {
    text-align: right;
}

.but{
    width: 80px;
    height: 40px;
    background-color: #d9534f;
    color: darkblue;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
}